<h3> View Currency Rate Details</h3>
<div>
    <div>
        <label> <b> Date: </b></label> {{ rate.date }}
    </div>
    <div>
        <label> <b> CAD: </b></label> {{ rate.cad }}
    </div>
    <div>
        <label> <b> EUR: </b></label> {{ rate.eur }}
    </div>
    <div>
        <label> <b> GBP: </b></label> {{ rate.gbp }}
    </div>
    <div>
        <label> <b> JPY: </b></label> {{ rate.jpy }}
    </div>
    <div>
        <label> <b> TYR: </b></label> {{ rate.tryy }}
    </div>
    <div>
        <label> <b> USD: </b></label> {{ rate.usd }}
    </div>
</div>